@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: 'nexonLv1';
  src: url('~@/assets/fonts/NEXONGothic.woff') format('woff');
}
@font-face {
  font-family: 'nexonLv1Bold';
  src: url('~@/assets/fonts/NEXONGothicBold.woff') format('woff');
}
@font-face {
  font-family: 'nexonLv1Light';
  src: url('~@/assets/fonts/NEXONGothicLight.woff') format('woff');
}

/* reset */
*{
	font-family: 'nexonLv1';
}
*::-webkit-scrollbar{
  width: 4px;
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(212, 212, 212);
  border-radius: 3px;
}
*::-webkit-scrollbar-track{
  background-color: #f7f9fa;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #fff;
}
html,
body{
	font-size: 12px;
	background: #f7f9fa;
	margin: 0;
	padding: 0;
	height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
span,
ul,
li,
ol,
button,
label,
i,
textarea{
	color: #484554;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
}
button{
	background: none;
	cursor: pointer;
}
input{
	background: #f7f9fa;
	outline: none;
}
::-moz-selection{
	background: #484554;
	color: #fff;
}
::selection{
	background: #484554;
	color: #fff;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
/* 

======
user
======

*/
/* common */
.spinner{
	@apply fixed left-0  right-0 top-0 bottom-0;
	@apply w-full h-full;
	@apply z-50;
	@apply bg-black bg-opacity-80;
}
.spinner_img{
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
}
.notice{
	@apply fixed left-0 right-0 top-0 bottom-0;
	@apply bg-black bg-opacity-80;
	@apply z-50;
}
.notice_contents{
	@apply bg-white;
	@apply rounded-md;
	@apply p-5;
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
	@apply w-8/12;
	@apply max-w-screen-sm sm:w-7/12;
	@apply max-w-screen-md md:w-6/12;
	@apply max-w-screen-lg lg:w-5/12;
	@apply max-w-screen-xl xl:w-3/12;
}
.notice_title{
	@apply text-center;
}
.notice_title_icon{
	@apply text-9xl;
	@apply -mt-10;
}
.notice_contents--done{
	box-shadow: 1px 1px 50px 1px #0080ff;
}
.notice_contents--noti{
	box-shadow: 1px 1px 50px 1px #34FF6D;
}
.notice_contents--war{
	box-shadow: 1px 1px 50px 1px #e41749;
}
.notice_text{
	@apply pt-10 pb-12;
	@apply text-2xl text-center font-nB;
	@apply leading-relaxed;
}
.notice_btn-div{
	@apply flex justify-center flex-wrap;
	@apply text-center;
}
.notice_btn{
	@apply text-white;
	@apply w-full;
	@apply p-3;
	@apply rounded-full;
	@apply tracking-widest;
}
.notice_btn--done{
	@apply bg-blue-400;
	@apply mb-2;
}
.notice_btn--done:hover{
	@apply bg-blue-600;
}
.notice_btn--cancel{
	@apply bg-red-400;
}
.notice_btn--cancel:hover{
	@apply bg-red-600;
}
.not-found{
	@apply bg-white;
	@apply border-t-4 border-b-4 border-indigo-500;
	@apply rounded-lg;
	@apply py-20;
	@apply text-center;
}
.not-found_icon{
	@apply text-9xl;
	@apply animate-pulse;
}
.not-foun_text{
	@apply mt-8;
	@apply text-3xl;
}
.not-foun_text > p{
	@apply mt-4;
}

/* layout frame */
.frame_contents{
	@apply w-11/12;
	@apply m-auto;
	@apply max-w-screen-lg lg:w-4/5;
}

/* header */
.header_nav{
  @apply flex;
  @apply w-11/12;
  @apply pt-3 pb-1;
  @apply m-auto;
  @apply max-w-screen-lg lg:w-4/5;
}
.header_nav--left{
  @apply flex-1;
}
.header_nav_btn{
  background: url("~@/assets/icons/hamburger-btn.svg") no-repeat;
  @apply w-10 h-10;
}
.header_nav--right{
  @apply flex-1;
	@apply hidden;
	@apply max-w-screen-sm sm:block;
}
.header_nav_ul{
  @apply flex justify-end;
}
.header_nav_li{
  @apply mr-4;
  @apply pt-3;
}
.header_nav_li:last-child{
  @apply mr-0;
}
.header_side{
	@apply flex;
  @apply bg-gray-600 bg-opacity-30;
  @apply fixed left-0 right-0 top-0;
  @apply h-full;
  @apply z-30;
}
.header_side_close-lay{
	@apply absolute left-0 right-0 top-0 bottom-0;
  @apply z-40;
}
.header_side_nav{
	@apply relative;
  @apply w-[350px] h-full;
  @apply max-w-screen-sm sm:w-[400px];
  @apply max-w-screen-md md:w-[500px];
  @apply z-50;
}
.header_side_nav_contents{
	height: calc(100vh - 7%);
	@apply bg-white;
  @apply overflow-y-auto;
}
.header_side_header{
	@apply bg-dk1;
	@apply p-4;
}
.header_side_my{
	@apply bg-dk1;
	@apply flex;
	@apply p-5 m-auto mt-5;
	@apply w-11/12;
	@apply rounded-md;
  @apply max-w-screen-md md:w-8/12;
}
.header_side_my-img-div{
	@apply w-1/5;
	@apply text-center;
}
.header_side_my-img{
	@apply w-16 h-16;
	@apply align-middle;
	@apply inline-block;
	@apply rounded-full;
}
.header_side_my-info{
	@apply w-4/5;
	@apply px-5;
}
.header_side_my-text{
	@apply text-xl;
	@apply py-1;
	@apply overflow-ellipsis overflow-hidden;
	@apply text-white;
}
.header_side_my-link{
	@apply font-nB;
	@apply text-white;
}
.header_side_my-sir{
	@apply text-white;
}
.header_side_nav_ul{
	@apply p-10;
}
.header_side_nav_li{
	@apply mb-10;
}
.header_side_nav_link{
	@apply text-xl;
	@apply inline-block;
	@apply w-full h-full;
	@apply py-3;
	@apply border-b;
	@apply max-w-screen-sm sm:text-2xl;
}
.header_side_nav_link--noneActive{
	@apply text-left;
}
.header_side_nav_link:hover{
	@apply border-gray-400;
	@apply border-b-2;
	@apply font-nB;
	@apply transition duration-500 ease-in-out;
}
.header_side_nav_icon{
	@apply mr-3;
	@apply align-middle;
}
.header_side_nav_footer{
  height: calc(100vh - 93%);
	@apply flex;
  @apply bg-dk1;
  @apply px-10 py-8;
	@apply items-center;
}
.header_side_nav_footer-link{
	@apply text-white;
	@apply max-w-screen-sm sm:text-xl;
}
.header_side_nav_footer-li{
	@apply mr-5;
}
.header_side_nav_cancel{
	@apply text-right;
	@apply mb-8;
}
.header_side_nav_cancel-btn{
	@apply w-10 h-10;
}
.header_side_nav-cancel-icon{
	@apply text-4xl text-white;
}
.header_side_nav_cancel-btn:hover .header_side_nav-cancel-icon{
	@apply rotate-12;
	@apply transition duration-200 ease-in-out;
}
.header_side_nav_logo{
  @apply text-center;
  @apply font-nB;
  @apply text-lg;
}
.header_side-nav--tran-enter {
	opacity: 0;
	transition: opacity 0.2s;
	@apply text-white;
}
.header_side-nav--tran-active {
	transition: opacity 0.2s;
}
.header_side-nav--tran-leave {
	transition: opacity 0.2s;
}
.header_side-nav--tran-leave-active {
	transition: opacity 0.2s;
	opacity: 0;
}
.header_nav_logo-btn{
	background: url("~@/assets/icons/logo1.svg") no-repeat left;
	@apply w-[200px] h-[50px] inline-block;
}
.header_img-div{
	background: #292a27;
	@apply w-full h-[300px];
}
.header_img{
	@apply align-bottom;
	@apply m-auto;
	@apply w-full h-full;
  @apply max-w-screen-lg lg:w-3/5;
  @apply max-w-screen-xl xl:w-2/5;
}
.header_logo{
	@apply w-11/12 h-20;
	@apply mb-16 m-auto ;
	@apply max-w-screen-lg lg:w-4/5;
	@apply relative;
}
.header_logo_link{
	background: url("~@/assets/images/logo.png") no-repeat;
	background-size: contain;
	@apply inline-block;
	@apply w-40 h-40;
	@apply absolute left-0 -top-20;
}

/* footer */
.footer{
	@apply border-t;
	@apply py-8 mt-16;
}
.footer_content{
	@apply w-11/12;
	@apply m-auto;
	@apply max-w-screen-lg lg:w-4/5;
}
.footer_body{
	@apply flex flex-wrap;
}
.footer_custom{
	@apply mb-14;
	@apply w-full;
	@apply max-w-screen-sm sm:w-4/12;
}
.footer_custom-number{
	@apply text-lg;
	@apply font-nB;
	@apply mb-2;
}
.footer_custom-text{
	@apply text-sm;
	@apply mb-1;
}
.footer_question{
	@apply border;
	@apply rounded-md;
	@apply inline-block;
	@apply text-sm;
	@apply py-2 px-4;
	@apply mt-2;
}
.footer_nav{
	@apply flex justify-between;
	@apply mb-14;
	@apply w-full;
	@apply max-w-screen-sm sm:w-8/12;
}
.footer_nav-title{
	@apply font-nB;
	@apply mb-2;
}
.footer_nav-link{
	@apply text-xs;
	@apply max-w-screen-sm sm:text-sm;
}
.footer_logo{
	@apply flex flex-wrap items-end;
}
.footer_logo-link{
	background: url("~@/assets/icons/logo1.svg") no-repeat;
	background-size: contain;
	@apply inline-block;
	@apply w-36 h-9;
	@apply align-bottom;
}
.footer_notice{
	@apply text-xs text-left;
	@apply mb-4;
}
.footer_copyright{
	@apply text-xs;
	@apply font-nB;
	@apply align-bottom;
}
/* home */
.home_header{
	@apply mb-3;
	@apply min-w-full;
	@apply max-w-screen-sm sm:flex;
}
.home_header_li{
	@apply h-10;
	@apply mb-1;
}
.home_header_li--report{
	@apply max-w-screen-sm sm:min-w-[79%] sm:order-2 sm:ml-3;
	@apply max-w-screen-md md:min-w-[84%];
	@apply max-w-screen-lg lg:min-w-[87%];
}
.home_header_li--search{
	@apply max-w-screen-sm sm:min-w-[20%] sm:order-1;
	@apply max-w-screen-md md:min-w-[15%];
	@apply max-w-screen-lg lg:min-w-[12%];
}
.home_report{
	@apply bg-dk1;
	@apply rounded-md;
	@apply flex;
	@apply w-full h-full;
	@apply p-2;
}
.home_report_li--icon{
	@apply w-[10%];
	@apply text-center;
	@apply max-w-screen-md md:w-[5%];
}
.home_report-icon{
	@apply text-white;
}
.home_report_li--swiper{
	@apply w-[75%];
	@apply max-w-screen-md md:w-[80%];
}
.home_report_swiper{
	@apply text-white;
	@apply h-full;
}
.home_report_item-link{
	@apply inline-block;
	@apply w-full;
	@apply truncate;
	@apply text-white;
}
.home_report-category{
	background: #FFC74A;
	@apply bg-red-400;
	@apply inline-block;
	@apply text-white text-sm;
	@apply px-2;
	@apply rounded-sm;
	@apply align-middle;
}
.home_report_li--btn{
	@apply w-[15%];
	@apply flex justify-end;
}
.home_report_btn > i {
	@apply text-white;
}
.home_report_btn:first-child > i{
	@apply mr-5;
}
.home_search_btn{
	@apply bg-indigo-500;
	@apply hover:bg-indigo-600;
	@apply rounded;
	@apply w-full h-full;
	@apply px-4;
	@apply flex justify-between items-center;
}
.home_search_text{
	@apply text-white;
}
.home_search_i{
	@apply text-white;
}
.home_search_i--rotate{
	@apply transform rotate-180;
}
.home_search_area--tran-enter {
	opacity: 0;
	transition: opacity 0.3s;
}
.home_search_area--tran-enter-active {
	transition: opacity 0.3s;
}
.home_search_area--tran-leave {
	transition: opacity 0.3s;
}
.home_search_area--tran-leave-active {
	transition: opacity 0.3s;
	opacity: 0;
}
.search-store_select{
	@apply bg-white;
	@apply border;
	@apply rounded-md;
	@apply w-full;
	@apply mb-10;
}
.search-store_select-li{
	@apply flex flex-wrap;
	@apply px-3 py-2;
}
.search-store_select-name{
	@apply bg-main;
	@apply inline-block;
	@apply text-base text-white;
	@apply border rounded border-indigo-500;
	@apply px-2 py-1 mr-2 mb-1;
}
.search-store_select-icon{
	@apply inline-block;
	@apply mr-2;
}
.search-store_search{
	@apply bg-white;
	@apply max-h-[600px];
	@apply p-2 mb-10;
	@apply border rounded-md;
	@apply overflow-y-scroll;
}
.search-store_table{
	@apply w-full;
	@apply my-3;
	@apply border-collapse;
}
.search-store_tr{
	@apply border-b border-indigo-50;
	@apply my-5;
}
.search-store_title{
	@apply py-10;
	@apply w-1/6;
	@apply text-center;
	@apply tracking-widest;
}
.search-store_contents{
	@apply  w-5/6;
}
.search-store_text-input{
	@apply w-full;
	@apply p-3;
	@apply text-lg;
	@apply tracking-widest;
	@apply border border-gray-400 rounded-md;
}
.search-store_text-input:focus{
	@apply border-indigo-700;
}
.search-store_ul{
	@apply flex flex-wrap;
	@apply py-3;
}
.search-store_li{
	@apply mr-3 mb-3;
}
.search-store_li:last-child{
	@apply mr-0;
}
.search-store_label{
	@apply inline-block;
}
.search-store_radio{
	@apply hidden;
}
.search-store_radio:checked + .search-store_name{
	@apply bg-main;
	@apply text-white;
	@apply border-0;
}
.search-store_radio:checked + .search-store_name .search-store_sct-icon{
	@apply text-white;
}
.search-store_name{
	@apply inline-block;
	@apply py-3 px-3;
	@apply w-full h-full;
	@apply border border-gray-400;
	@apply rounded-md;
	@apply text-center;
	@apply hover:text-white hover:bg-indigo-300 hover:cursor-pointer;
}
.search-store_name:hover .search-store_sct-icon{
	@apply text-white;
}
.search-store_title-icon{
	@apply text-3xl;
}
.search-store_sct-icon{
	@apply mr-2;
}
.search-store_btn-ul{
	@apply flex justify-center;
}
.search-store_btn{
	@apply bg-blue-300;
	@apply w-40;
	@apply mr-5 py-2;
	@apply text-center text-white;
	@apply text-white;
	@apply rounded;
	@apply cursor-pointer; 
	@apply hover:bg-blue-500;
}
.search-store_btn--init{
	@apply bg-green-300;
	@apply text-white;
	@apply mr-0;
}
.search-store_btn--init{
	@apply hover:bg-green-500;
}
.home_store{
	@apply grid grid-cols-1 gap-2; 
	@apply sm:grid-cols-2;
	@apply md:grid-cols-3;
}
.home_store_li{
	@apply relative;
	@apply mb-7 pb-1;
	@apply border-solid border border-gray-400 rounded-md;
}
.home_store_img-link{
	@apply w-full;
}
.home_store_img{
	@apply w-full h-96;
	@apply rounded-tl-md rounded-tr-md;
	@apply align-top;
	@apply object-fill;
}
.home_store_fnc {
	@apply flex justify-end;
	@apply py-2;
}
.home_store_fnc-icon {
	@apply text-3xl;
	@apply cursor-pointer;
	@apply mr-3;
	@apply hover:rotate-12;
}
.home_store_contents{
	@apply pl-1 my-2;
}
.home_store_contents td{
	@apply py-1;
}
.home_store_name{
	@apply text-3xl;
	@apply font-nB;
	@apply mr-1 pl-1;
	@apply inline-block;
}
.home_store_number-icon{
	@apply mr-1;
	@apply align-middle;
}
.home_store_address-icon{
	@apply mr-1;
	@apply align-middle;
}
.home_store_address{
	@apply py-1;
}
.home_store_sct{
	@apply border border-purple-500;
	@apply inline-block; 
	@apply px-3 mb-1 ml-1; 
	@apply text-center text-purple-500;
	@apply rounded-md;
	@apply text-sm;
	@apply align-bottom;
}
.home_badge {
	@apply bg-gray-800 bg-opacity-95;
	@apply text-white;
	@apply absolute left-0 top-0;
	@apply w-full h-full;
	@apply rounded-md;
	@apply overflow-y-scroll;
}
.home_badge_btn{
	@apply absolute right-4 top-3;
}
.home_badge_btn > i {
	@apply text-white;
	@apply text-2xl;
}
.home_badge_ul{
	@apply flex flex-wrap justify-center;
	@apply p-2 mt-52;
}
.home_badge_none{
	@apply text-white text-lg;
}
.home_badge_li-div{
	@apply relative;
	@apply text-center;
	@apply rounded-md;
	@apply text-white;
	@apply tracking-wide;
	@apply py-2 px-3 mr-2 mt-2;
}
.home_badge_li-div > i{
	@apply text-white;
	@apply text-white;
	@apply not-italic;
	@apply font-bold;
}
.home_badge_level{
	@apply text-white text-xs;
	@apply font-bold;
	@apply italic;
	@apply inline-block;
	@apply ml-1;
}
.home_badge_link{
	@apply inline-block;
	@apply rounded-md;
	@apply px-2 py-1;
	@apply absolute top-3.5 left-5;
	@apply text-base text-white;
	@apply text-indigo-200;
}
.home_badge_link-icon{
	@apply text-base text-white;
	@apply text-indigo-200;
}
.home_badge_icon{
	@apply absolute left-1/2 top-20;
	@apply transform -translate-x-1/2;
	@apply text-white;
	@apply text-8xl;
}

/* account */
.account{
	@apply border;
	@apply rounded-md;
	@apply flex;
	@apply shadow-md;
	@apply h-[600px];
}
.account_left{
	@apply hidden;
	@apply rounded-tl-md rounded-bl-md;
	@apply max-w-screen-md md:w-6/12 md:block;
	@apply max-w-screen-lg lg:w-7/12 md:block;
}
.account_left > img{
	@apply rounded-tl-md rounded-bl-md;
	@apply align-bottom;
	@apply w-full h-full;
}
.account_right{
	@apply w-full;
	@apply p-10;
	@apply rounded-tr-md rounded-br-md;
	@apply max-w-screen-md md:w-6/12 sm:block;
	@apply max-w-screen-lg lg:w-5/12 md:block;
}
.account-title{
	@apply text-4xl;
	@apply mb-10;
}
.account_input{
	@apply w-full;
	@apply rounded-md;
	@apply py-5 px-4;
	@apply text-sm;
	@apply border border-gray-400;
	@apply focus:border-gray-500;
	@apply max-w-screen-xs xs:text-base;
	@apply max-w-screen-sm sm:text-xl;
}
.account_error{
	@apply text-red-600;
	@apply mb-2 mt-1;
}
.signin_btn-ul{
	@apply mt-10;
}
.signin_btn_signin{
	background: #ea5757;
	@apply text-white;
	@apply w-full h-16;
	@apply rounded-md;
	@apply text-xl;
	@apply tracking-widest;
}
.signin_btn-li--link{
	@apply text-right;
	@apply my-3;
}
.signin_btn-link{
	@apply text-lg;
}
.signin_btn_right-icon{
	@apply align-middle;
}
.signin_btn-li--signup{
	@apply mt-36;
	@apply border-t border-gray-300;
}
.signin_btn-li--signup{
	@apply border-t;
}
.signin_btn_link{
	@apply inline-block;
	@apply w-full;
	@apply py-5;
	@apply border border-indigo-600;
	@apply mt-5;
	@apply rounded-md;
	@apply text-indigo-600 text-center text-xl;
	@apply tracking-widest;
}
.search-user{
	height: calc(100% - 20%);
}
.search-user_ul{
	@apply flex;
}
.search-user_li{
	@apply bg-gray-300;
	@apply text-xl;
	@apply border border-gray-400 border-b-0;
	@apply rounded-md;
	@apply cursor-pointer;
	@apply relative;
}
.search-user_id{
	@apply rounded-bl-none rounded-br-none;
}
.search-user_passwd{
	@apply border-l-0;
	@apply rounded-br-none;
}
.search-user_active-tab{
	background: #f7f9fa;
	@apply border-2 border-red-300 border-b-0;
}
.search-user_tab-link{
	@apply inline-block;
	@apply py-4 px-3;
}
.search-user_active-tab::after{
	content: '';
	background: #f7f9fa;
	@apply inline-block;
	@apply w-full h-2;
	@apply absolute left-0 -bottom-1;
	@apply rounded-md;
}
.search-user_contents{
	@apply border-2 border-red-300;
	@apply rounded-md rounded-tl-none;
	min-height: 100%;
	@apply p-5 pt-20;
}
.search-id_btn{
	background: #ea5757;
	@apply text-white;
	@apply w-full h-16;
	@apply rounded-md;
	@apply text-xl;
	@apply tracking-widest;
}
.search-id_success{
	@apply bg-red-500;
	@apply h-full;
}
.search-passwd{
	@apply mb-2;
}
.search-passwd--key{
	@apply bg-white;
	@apply text-indigo-500;
	@apply border border-indigo-500;
}
.search-passwd_li{
	@apply mb-24;
}
.signup{
	@apply py-16;
}
.signup_contents{
	@apply w-11/12;
	@apply m-auto;
	@apply max-w-screen-sm sm:w-8/12;
	@apply max-w-screen-lg lg:w-6/12;
	@apply max-w-screen-xl xl:w-5/12;
}
.signup_header{
	@apply mb-5;
	@apply text-center;
}
.signup_header_link-logo{
	@apply inline-block;
	@apply h-full;
}
.signup_header_link-logo > img{
	@apply align-bottom;
	@apply h-full;
}
.signup_header_title{
	@apply text-2xl;
	@apply py-3;
	@apply relative;
}
.signup_header_title::after{
	content: "";
	@apply bg-dk1;
	@apply w-10 h-1;
	@apply inline-block;
	@apply absolute left-1/2 bottom-0;
	@apply -translate-x-1/2;
	@apply rounded-md;
}
.signup_body_ul{
	@apply border border-gray-300;
	@apply rounded-md;
	@apply p-8;
}
.signup_body_li{
	@apply mb-8;
}
.signup_title{
	@apply text-xl;
}
.signup_input{
	@apply w-full;
	@apply rounded-md;
	@apply py-5 px-4;
	@apply text-xl;
	@apply border border-gray-400;
}
.signup_error{
	@apply text-red-500;
}
.signup_input--passwd{
	@apply mb-2;
}
.signup_input--dupl{
	@apply border-red-500 border-2;
}
.signup_input:focus{
	@apply border-gray-700;
}
.signup_agree_ul{
	@apply border border-gray-400;
	@apply rounded-md;
	@apply p-7;
}
.signup_agree_li{
	@apply mb-5;
}
.signup_agree_btn{
	@apply inline-block;
	@apply w-full;
	@apply text-left text-lg;
}
.signup_agree_btn--all{
	@apply text-3xl;
	@apply border-b border-gray-400;
	@apply pb-6;
}
.signup_agree_icon{
	@apply text-gray-500;
	@apply mr-3;
}
.signup_agree_icon--ok{
	@apply text-indigo-500;
}
.signup_agree_must{
	@apply text-red-500;
}
.signup_agree_link{
	@apply border-b border-gray-500;
}
.signup_btn-signup{
	@apply bg-dk1;
	@apply w-full h-16;
	@apply rounded-md;
	@apply text-white text-xl;
	@apply tracking-widest;
}
.signup_btn-signup--ok{
	@apply bg-indigo-500;
}
.signup_footer{
	@apply text-center;
}
.appro{
	@apply py-16;
}
.appro_contents{
	@apply w-11/12;
	@apply m-auto;
	@apply max-w-screen-sm sm:w-8/12;
	@apply max-w-screen-lg lg:w-6/12;
	@apply max-w-screen-xl xl:w-5/12;
}
.appro_header{
	@apply mb-10;
	@apply text-center;
}
.appro_header_title{
	@apply text-2xl;
	@apply py-3;
	@apply relative;
}
.appro_header_title::after{
	content: "";
	@apply bg-dk1;
	@apply w-10 h-1;
	@apply inline-block;
	@apply absolute left-1/2 bottom-0;
	@apply -translate-x-1/2;
	@apply rounded-md;
}
.appro_link-logo{
	@apply inline-block;
	@apply h-full;
}
.appro_link-logo > img{
	@apply align-bottom;
	@apply h-full;
}
.appro_body_ul{
	@apply border border-gray-300;
	@apply rounded-md;
	@apply p-8;
}
.appro_body_li{
	@apply mb-8;
}
.appro_title{
	@apply text-lg;
}
.appro_input{
	@apply w-full;
	@apply rounded-md;
	@apply py-5 px-4;
	@apply text-lg;
	@apply border border-gray-400;
}
.appro_notice{
	@apply py-2;
	@apply text-lg;
}
.appro_notice--nickName{
	@apply font-nB;
}
.appro_notice--email{
	@apply font-nB;
}
.appro_btn{
	@apply w-full h-16;
	@apply rounded-md;
	@apply text-lg;
	@apply tracking-widest;
}
.appro_error{
	@apply text-red-500;
}
.appro_btn--ok{
	@apply bg-dk1;
	@apply text-white;
	@apply mb-3;
}
.appro_btn--re-auth{
	@apply border border-indigo-400;
}
.appro_footer{
	@apply text-center;
}
/* store */
.sto-index{
	@apply border;
	@apply rounded-md;
	/* @apply max-w-screen-md md:flex md:min-w-full md:min-h-screen md:max-h-screen; */
	@apply max-w-screen-md md:flex md:min-w-full;
}
.sto-index_contents{
	@apply w-full;
}
.sto-index_contents--left{
	@apply border-r;
	@apply p-2;
	@apply overflow-y-scroll;
}
.sto-index_name-div{
	@apply bg-white;
	@apply text-xl;
	@apply my-10 p-5;
	@apply border-t-8 border-b-8 border-dk1;
}
.sto-index_name-p{
	@apply py-0.5;
}
.sto-index_name{
	@apply text-5xl;
	@apply font-nB;
}
.sto-index_sctor{
	color: #ea5757;
	@apply text-lg;
}
.sto-index_one-line{
	@apply mt-3;
}
.sto-index_img-div{
	@apply w-full h-96;
	@apply flex;
}
.sto-index_img-part{
	@apply border border-white box-border;
	@apply rounded-md;
}
.sto-index_img-part--left{
	@apply w-8/12;
}
.sto-index_img-part--right{
	@apply w-4/12;
}
.sto-index_img-mini{
	@apply rounded-md;
	@apply h-1/2;
}
.sto-index_img-mini--rt{
	@apply border-b border-white;
}
.sto-index_img-mini--rb{
	@apply border-t border-white;
	@apply relative;
}
.sto-index_img-more{
	content: '';
	@apply bg-black bg-opacity-50;
	@apply inline-block;
	@apply w-full h-full;
	@apply absolute left-0 top-0;
	@apply rounded-md;
	@apply cursor-pointer;
}
.sto-index_img-more-div{
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
	@apply text-center;
	@apply w-full;
}
.sto-index_img-more-div > p {
	@apply text-white;
	@apply text-xl;
	@apply my-1;
}
.sto-index_img-more-div > p > i {
	@apply text-white;
}
.sto-index_img{
	@apply h-full w-full rounded-md;
	@apply object-cover;
	@apply cursor-pointer;
}
.sto-index_nav{
	@apply flex flex-wrap justify-start;
	@apply bg-dk1;
	@apply rounded-md;
	@apply mb-2 py-3;
}
.sto-index_nav-link{
	@apply text-white;
	@apply inline-block;
	@apply p-3 mx-2;
	@apply relative;
	@apply max-w-screen-sm sm:text-lg sm:p-4;
}
.sto-index_nav-active{
	color: #FFC74A;
}
.sto-index_nav-active::after{
	content: '';
	background: #FFC74A;
	@apply absolute left-1/2 bottom-0;
	@apply transform -translate-x-1/2;
	@apply w-1/2 h-1.5;
	@apply rounded-md;
}
.sto-index_info{
	@apply border;
	@apply w-full;
	@apply rounded-md;
}
/* sto home */
.sto-home{
	@apply bg-white;
	@apply p-2;
	@apply rounded-md;
}
.sto-home_table{
	@apply w-full;
}
.sto-home_tr{
	@apply border-b;
}
.sto-home_tr:last-child{
	@apply border-b-0;
}
.sto-home_icon{
	@apply pr-2 pl-2;
	@apply text-xl;
}
.sto-home_td{
	@apply py-5;
	@apply break-all;
	@apply max-w-screen-sm sm:text-lg;
}
.sto-home_icon-td{
	@apply w-8;
}
.sto-home_link{
	color: #FFC74A;
	@apply font-nB;
}
.sto-index_mr-div{
	@apply h-full;
}
.sto-index_mr{
	@apply overflow-y-scroll;
	@apply p-4;
}
.sto-index_request{
	@apply text-sm;
}
.sto-index_mr-list{
	@apply mb-10;
}
.sotre-index_mr-header{
	@apply flex justify-between;
	@apply border-b-2;
	@apply py-4 mb-4;
}
.sto-index_mr-title{
	@apply text-4xl;
}
.sto-index_mr-icon{
	@apply align-bottom;
	@apply text-4xl;
}
.sto-index_mr-icon--on{
	@apply rotate-180;
}
.sto-index_mr-btn-div{
	@apply rounded-tl-md rounded-tr-md;
	@apply flex;
	@apply p-10;
	@apply items-center;
}
.sto-index_mr-btn{
	@apply inline-block;
	@apply text-2xl text-gray-400;
	@apply bg-gray-300;
	@apply w-full h-20;
	@apply rounded-md;
	@apply cursor-not-allowed;
}
.sto-index_mr-btn > i{
	@apply text-2xl text-gray-400;
}
.sto-index_mr-btn--active{
	@apply bg-dk1;
	@apply text-white;
	@apply cursor-pointer;
}
.sto-index_mr-btn--active > i {
	@apply text-white;
}
.sto-index_select{
	@apply mb-14;
}
.sto-index_select--time{
	@apply flex flex-wrap justify-start;
}
.sto-index_time-li{
	@apply mr-2 mb-2;
}
.sto-index_time{
	@apply bg-dk1;
	@apply inline-block;
	@apply p-5;
	@apply rounded-md;
	@apply text-white;
	@apply tracking-widest;
	@apply cursor-pointer;
}
.sto-index_time-none{
	@apply bg-gray-300;
	@apply text-dk1;
	@apply cursor-not-allowed;
}
.sto-index_checking--table{
	@apply bg-white;
	@apply w-full;
	@apply mb-4;
	@apply border-dk1 border-t-2 border-b-2;
	@apply rounded-md;
	@apply text-center;
}
.sto-index_check-tr{
	@apply border-b border-dashed;
}
.sto-index_check-td{
	@apply text-lg;
	@apply py-5 px-3;
	@apply max-w-screen-sm sm:text-xl;
}
.sto-index_check-td--title{
	@apply font-nB;
	@apply w-4/12;
	@apply max-w-screen-sm sm:w-3/12;
}
.sto-index_check-td--data{
	@apply w-8/12;
}
.sto-index_check-td--agree{
	@apply text-center;
}
.sto-index_agree-notice{
	@apply text-sm;
	@apply m-5;
}
.sto-index_agree-input{
	@apply relative;
	@apply top-[1.4px];
	@apply cursor-pointer;
}
.sto-index_agree-label{
	@apply font-nB;
	@apply ml-2;
	@apply cursor-pointer;
}
.sto-index_item-li{
	@apply border-t-2 border-dk1;
	@apply cursor-pointer;
}
.sto-index_item-li:last-child{
	@apply border-b-2 border-dk1;
}
.sto-index_item-div{
	@apply flex;
	@apply py-4;
	@apply relative;
}
.sto-index_item-div.sto-index_item-none::before{
	content: '';
	@apply bg-black bg-opacity-80;
	@apply inline-block;
	@apply absolute left-0 top-[1px];
	@apply w-full h-[98%];
	@apply cursor-not-allowed;
}
.sto-index_item-div.sto-index_item-none::after{
	content: 'SOLD OUT';
	@apply inline-block;
	@apply text-white text-xl;
	@apply font-nB;
	@apply tracking-widest;
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
	@apply max-w-screen-xs xs:text-3xl;
	@apply cursor-not-allowed;
}
.sto-index_item{
	@apply text-dk1;
	@apply tracking-widest;
	@apply py-2;
}
.sto-index_item-left{
	@apply px-2;
	@apply w-7/12;
	@apply max-w-screen-sm sm:w-9/12;
	@apply max-w-screen-md md:w-7/12;
	@apply max-w-screen-md md:w-8/12;
}
.sto-index_item-right{
	@apply w-5/12 h-48;
	@apply max-w-screen-sm sm:w-3/12;
	@apply max-w-screen-md md:w-5/12;
	@apply max-w-screen-lg lg:w-4/12;
}
.sto-index_item--title{
	@apply font-nB;
	@apply text-lg;
}
.sto-index_item-img{
	@apply rounded-md;
	@apply align-bottom;
	@apply h-full w-full;
	@apply object-cover;
}
.sto-index_person-notice{
	@apply border border-dashed border-red-400;
	@apply rounded-md;
	@apply mt-2 p-3;
}
.sto-index_person-notice > p {
	@apply mb-4;
}
.sto-index_person-notice > p:last-child{
	@apply mb-0;
}
.sto-index_person-notice > p > span{
	@apply text-red-400;
	@apply font-nB;
	@apply ml-1;
}
.sto-index_person-notice-icon{
	@apply text-red-400;
}
.sto-index_person-div{
	@apply border-2 border-dk1;
	@apply h-16;
}
.sto-index_person-input{
	@apply bg-white;
	@apply text-2xl text-center;
	@apply font-nB;
	@apply w-8/12 h-full;
	@apply align-bottom;
	@apply border-l-2 border-r-2 border-dk1;
}
.sto-index_person-btn{
	@apply w-2/12 h-full;
	@apply bg-dk1;
}
.sto-index_person-btn > i {
	@apply text-white;
}
.sto-index_select--info{
	@apply w-full;
	@apply border-2 border-dk1;
}
.sto-index_info-tr{
	@apply mb-2;
}
.sto-index_info-td{
	@apply bg-white;
	@apply h-20;
	@apply border-b border-dk1;
	@apply relative;
}
.sto-index_info-name--valid{
	@apply hidden;
	@apply text-red-500 text-sm;
	@apply absolute left-0 bottom-0;
}
.on-valid-notice{
	@apply block;
}
.sto-index_info-td > input {
	@apply bg-white;
}
.sto-index_info-td > textarea{
	@apply bg-white;
}
.sto-index_info-td--title{
	@apply font-nB;
	@apply text-center text-lg;
}
.sto-index_info-input{
	@apply w-full h-full;
	@apply align-bottom;
	@apply text-lg;
	@apply relative;
}
.sto-index_info-text{
	background: #f7f9fa;
	@apply w-full h-full;
	@apply pt-6;
	@apply resize-none;
	@apply align-bottom;
}
/* full-img */
.full-img{
	@apply bg-black bg-opacity-90;
	@apply fixed left-0 right-0 bottom-0 top-0;
	@apply z-50;
}
.full-img_div{
	@apply w-2/3 h-2/3;
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
}
.full-img_swiper{
	@apply h-full;
}
.full-img_list{
	@apply w-full h-full;
}
.full-img_img{
	@apply w-full h-full;
	@apply object-scale-down;
}
.img-full_btn{
	@apply absolute top-1/2;
	@apply transform -translate-y-1/2;
	@apply z-50;
}
.img-full_btn--prev{
	@apply -left-14;
}
.img-full_btn--next{
	@apply -right-14;
}
.full-img_btn-div button.swiper-button-disabled {
	@apply hidden;
}
.img-full_btn > i{
	@apply text-white;
	@apply text-3xl;
	@apply max-w-screen-sm sm:text-5xl;
}
.full-img_cancel-btn{
	@apply absolute right-14 top-14;
}
.full-img_cancel-btn > i{
	@apply text-white;
	@apply text-3xl;
	@apply max-w-screen-sm sm:text-5xl;
}
/* term */
.term{
	@apply p-2;
}
.term_logo{
	@apply mb-10;
}
.term_logo-img{
	@apply m-auto;
	@apply cursor-pointer;
}
.term_div{
	@apply border border-dk1;
	@apply rounded-md;
	@apply w-11/12;
	@apply m-auto p-10;
	@apply max-w-screen-sm sm:w-10/12;
}
.term_h2{
	@apply font-nB;
	@apply text-2xl;
	@apply text-center;
}
.term_h3{
	@apply font-nB;
	@apply text-xl;
}
.term_table{
	@apply border border-collapse;
	@apply w-full;
}
.term_td{
	@apply border;
	@apply p-2;
}
.term_th{
	@apply bg-gray-400;
	@apply text-white;
	@apply font-normal;
	@apply border;
}
/* calendar */
.fc .fc-toolbar-title{
	@apply font-nB;
}
.fc .fc-toolbar.fc-header-toolbar{
	@apply mb-2 !important;
}
.fc .fc-cell-shaded, .fc .fc-day-disabled{
	@apply bg-gray-400 bg-opacity-20 !important;
}
.fc .fc-non-business{
	@apply bg-gray-400 bg-opacity-20 !important;
	@apply cursor-not-allowed !important;
	@apply z-50 !important;
}
.fc .fc-day-sat .fc-daygrid-day-number{
	@apply text-blue-400 !important;
}
.fc .fc-day-sun .fc-daygrid-day-number{
	@apply text-red-400 !important; 
}
.fc .fc-button-primary:disabled{
	@apply hidden;
}
.fc-icon-chevron-left:before{
	@apply text-white;
}
.fc-icon-chevron-right:before{
	@apply text-white;
}
.fc .fc-col-header-cell .fc-day{
	@apply bg-red-500 !important;
}
.fc .fc-scrollgrid-sync-inner{
	@apply p-2 !important;
}
.fc .fc-day-sun .fc-col-header-cell-cushion{
	@apply text-red-400;
}
.fc .fc-day-sat .fc-col-header-cell-cushion{
	@apply text-blue-400;
}
.fc .fc-daygrid-day-bg .fc-bg-event{
	@apply bg-gray-400 bg-opacity-20 !important;
	@apply opacity-0;
	@apply cursor-not-allowed !important;
	@apply z-50 !important;
}
.fc .fc-day-future .fc-scrollgrid-sync-inner{
	@apply cursor-pointer !important;
}
.fc .fc-day-today {
	@apply cursor-pointer !important;
}
.fc .fc-bg-event{
	@apply opacity-100 !important;
}
/* report */
.report_title_div{
	@apply mb-8;
}
.report_title{
	@apply font-nB;
	@apply text-4xl;
}
.report_mr{
	@apply text-sm;
	@apply -mt-1 ml-10;
	@apply font-nB;
}
.report-list_ul{
	@apply bg-white;
	@apply border-dk1 border-t-2;
	@apply mb-10;
}
.report-list_li:hover  .report-list_icon-div .report-list_icon{
	@apply 
	text-dk1
	;
}
.report-list_li:hover .report-list_date{
	@apply 
	text-dk1
	;
}
.report-list_li{
	@apply border-b;
	@apply py-4 px-3;
}
.report-list_link{
	@apply flex flex-col;
	@apply min-w-full;
	@apply max-w-screen-sm sm:flex-row sm:justify-between;
}
.report-list_date-div{
	@apply mb-2;
	@apply w-full;
	@apply max-w-screen-sm sm:mb-0 sm:py-4 sm:min-w-[15%];
}
.report-list_contents-div{
	@apply w-full;
	@apply max-w-screen-sm sm:min-w-[70%];
}
.report-list_icon-div{
	@apply hidden;
	@apply max-w-screen-sm sm:block sm:min-w-[15%];
	@apply relative;
}
.report-list_icon{
	@apply text-2xl text-gray-500;
	@apply absolute left-1/2 top-1/2;
	@apply transform -translate-x-1/2 -translate-y-1/2;
}
.report-list_date{
	@apply mr-1;
	@apply text-sm text-gray-500;
	@apply max-w-screen-sm sm:block sm:text-center sm:mr-0;
}
.report-list_date--year{
	@apply tracking-widest;
}
.report-list_date--day{
	@apply max-w-screen-sm sm:block sm:font-nB sm:text-4xl sm:mt-1;
}
.report-list_category{
	@apply inline-block;
	@apply rounded-md;
	@apply px-2 py-1 mb-1;
	@apply text-white text-sm;
	@apply font-nB;
}
.report-list_title{
	@apply font-nB;
	@apply text-xl;
	@apply truncate;
	@apply mb-1;
}
.report-list_contents{
	@apply truncate;
}
.report-detail{
	@apply
	px-5 py-10
	border
	rounded-md
	;
}
.report-detail_nav-li{
	@apply 
	flex justify-end
	mb-1
	;
}
.report-detail_nav-link{
	@apply 
	text-xs text-gray-500
	mr-1
	align-middle
	tracking-wider
	font-black
	;
	@apply max-w-screen-sm sm:text-sm;
}
.report-detail_contents-div{
	@apply
	border-t border-b
	pt-5 pb-14 mb-4
	min-h-[400px]
	;
}
.report-detail_contents{
	@apply
	leading-10
	pl-2
	;
	@apply max-w-screen-md md:pr-40;
}
.report-detail_sub-contents{
	@apply 
	flex
	justify-between
	;
}
.report-detail_header{
	@apply 
	py-5
	border-t-2 border-dk1
	;
}
.report-detail_header-li{
	@apply 
	mb-2
	;
}
.report-detail_category{
	@apply 
	bg-red-400
	rounded-md
	px-2 py-1 mr-2
	text-white text-sm
	font-nB
	;
}
.report-detail_date{
	@apply 
	text-sm
	;
}
.report-detail_title{
	@apply 
	font-nB
	text-lg
	;
	@apply max-w-screen-sm sm:text-xl;
	@apply max-w-screen-md md:text-2xl;
}
.report-detail_prev-link{
	@apply
	mr-3
	text-sm
	;
	@apply max-w-screen-md md:text-base;
}
.report-detail_next-link{
	@apply 
	text-sm
	;
	@apply max-w-screen-md md:text-base;
}
.report-detail_back{
	@apply
	bg-dk1
	text-white text-sm
	rounded-md
	py-1 px-2
	tracking-widest
	;
	@apply max-w-screen-md md:text-base;
}
/* pageing */
.page_nav{
	@apply 
	text-center
	;
}
.page_nav-btn{
	@apply w-10 h-10;
	@apply mx-1;
	@apply inline-block;
	@apply rounded-full;
	@apply border-dk1 border;
}
.eq-page{
	@apply bg-dk1;
	@apply text-white;
	@apply font-nB;
}
.page_nav-arrow{
	@apply border-none;
}

/* 

======
ceo
======

*/






